/* src/styles/Cart.css */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* مخفية خارج الشاشة */
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease-in-out;
  padding: 1rem;
  z-index: 999;
}

.cart-sidebar.open {
  right: 0; /* تظهر لما ال state تكون true */
}
